body {
  background-color: #ffffff;
}

blockquote::before {
    content: "\201C" !important;
}

p {
  font-size: 16px;
}

.docs {
  background-color: #f1f2f6;
}

nav.navbar {
  background-color: #ffffff;
  border-top: 2px solid #00d2ff;
  border-bottom: 1px solid #333333;
}

.navbar .brand {
    background: #ffffff;
    color: #333333;
}

.link {
  background-color: #ffffff !important;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333333;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

.main-gallery {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top: solid 10px #9980FA;

}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #9980FA;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: #9980FA;
}


.navbar .link {
  color: #333333;
}

.toggle h5 {
  color: #333333;
}


/* UI Color */
.text-purpple {
  color: #3F51B5;
}

.text-pink {
  color: #E91E63;
}

.sub-text {
  color: #353b48;
}
/* SideNav */
.dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
    font-size: 20px;
}

.dropdown-btn {
  background-color: rgba(0,0,0,0);
  color: #333333;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding-top: 40px;
  border-right: 1px solid #d9d9d9;
  z-index: 1;
  transition: all 0.2s ease;
}

.sidebar-head {
  text-align: center;
}

.sidebar-head a {
  color: #2e2e2e;
  text-decoration: none;
}

.sidebar-nav {
  padding: 2rem 4rem;
  font-size: 20px;
}

.sidebar-nav a {
  color: #4a4a4a;
  letter-spacing: 0.3px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 20px;
}

.sidebar-nav a:hover {
  color: #2196F3;
}

.sidebar-nav a.sidebar-link-active {
  color: #4c47f9;
}

#sidebar-toggle {
  position: fixed;
  width: 21px;
  height: 20px;
  z-index: 2;
  bottom: 1.5rem;
  left: 2rem;
  cursor: pointer;
}

body.close .sidebar {
  transform: translateX(-250px);
}

body.close .post {
  left: 0;
}

#sidebar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #4c47f9;
  position: absolute;
}

#sidebar-toggle-2 {
  top: 7px;
}
#sidebar-toggle-3 {
  top: 14px;
}

.algolia-autocomplete {
  display: flex !important;
}


.post {
  position: absolute;
  margin-left: 35px;
  left: 250px;
  right: 0;
  z-index: 0;
  padding-bottom: 5rem;
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-250px);
    box-shadow: 2px 3px 40px #a8a8a8;
  }

  .post {
    left: 0;
  }

  body.close .sidebar {
    background: #ffffff;
    transform: translateX(0px);
  }
}


/*Text background */
.text-bg-smoke {
	background-color: #ecf0f1;
}

.text-red {
	color: #e74c3c;
}

.grid-display {
  margin: 20px 0;
}

.grid-display [class^="col"] {
  background: #ecf0f1;
  border: 1px solid #3F51B5;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.grid-display [class^="col"] p {
  color: #3F51B5;
  font-size: 12px;
}

.color-box {
	background-color: #95a5a6;
	border: 1px solid #95a5a6;
}

.section.sectionHome {
 background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 800px;
  text-align: center;
  background-size: cover;
  color: #ffffff;
}

/* Header */ 
.navbar {
  background-color: #333333;
  color: #fff;
  border: none;
}

.brand {
  background: #c0392b;
  color: #fff;
}

.toggle {
  color: #fff;
}

.col-4.hover:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.shadow {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

h1.text-big {
  font-family: 'Dosis', sans-serif;
  font-size: 75px;
  width: 100%;
  text-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.col-12.centred {
  margin-top: 30%;
}

.mazSec {
  background-color: #f5f6fa;
}

.fruit {
  background-color: #c0392b;
  color: #fff;
}

.sea {
  background-color: #3742fa;
  color: #fff;
}

.royal {
  background-color: #2c3e50;
  color: #fff;
}

.mauve {
  background-color: #16a085;
  color: #fff;
}


/* Iframe Css */
.iBox.mHtml {
   min-height: 200px;
}

.iBox.mCss {
   min-height: 200px;
}

iframe#liveUpdate {
  border: 1px solid #333;
  width: 100%;
  min-height: 600px;
  background-color: #fff;
}

.centred-img {
	width: 100;
	margin: 0 auto;
}

.zoom-fade {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-text-shadow: 0 0 50px transparent;
  -moz-text-shadow: 0 0 50px transparent;
  -ms-text-shadow: 0 0 50px transparent;
  -o-text-shadow: 0 0 50px transparent;
  text-shadow: 0 0 50px transparent;
  color: rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.zoom-fade:hover {
  -webkit-text-shadow: 0 0 0px black;
  -moz-text-shadow: 0 0 0px black;
  -ms-text-shadow: 0 0 0px black;
  -o-text-shadow: 0 0 0px black;
  text-shadow: 0 0 0px black;
}

.bar.bar-red {
  background-color: red;
  width: 30%;
}

.bar.bar-black {
  background-color: black;
  width: 50%;
}
.bar.bar-green {
  background-color: green;
  width: 70%;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #1B1464;
  background-color: #fcfcfa;
}

.light-font {
  border: 2px solid #333333;
  border-radius: 50%;
  padding: 8px;
  align-items: center;
}

.bash-code {
  background-color: #2f3640;
  color: #f5f6fa;
  padding: 8px;
  font-weight: bold;
  }

  .highlight {
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
}

.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px; 
}
.scroll {
  position:absolute;
  right:20px;
  bottom:20px;
  background:#b2b2b2;
  background:rgba(178,178,178,0.7);
  padding:20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover {
  background:rgba(178,178,178,1.0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}


.container-bash #inviteCode.invite-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
}
.container-bash #inviteCode.invite-page #link {
  align-self: center;
  font-size: 17px;
  color: #333;
  font-weight: 600;
  flex-grow: 2;
  background-color: #fff;
  border: none;
}
.container-bash #inviteCode.invite-page #copy {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.container-bash #inviteCode.invite-page #copy i {
  display: block;
  line-height: 30px;
  position: relative;
}
.container-bash #inviteCode.invite-page #copy i::before {
  display: block;
  width: 15px;
  margin: 0 auto;
}
.container-bash #inviteCode.invite-page #copy i.copied::after {
  position: absolute;
  top: 0px;
  right: 35px;
  height: 30px;
  line-height: 25px;
  display: block;
  content: "copied";
  font-size: 1.5em;
  padding: 2px 10px;
  color: #fff;
  background-color: #4099FF;
  border-radius: 3px;
  opacity: 1;
  will-change: opacity, transform;
  -webkit-animation: showcopied 1.5s ease;
          animation: showcopied 1.5s ease;
}
.container #inviteCode.invite-page #copy:hover {
  cursor: pointer;
  background-color: #dfdfdf;
  transition: background-color .3s ease-in;
}

@-webkit-keyframes showcopied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes showcopied {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

li.counting {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}


li span {
  display: block;
  font-size: 4.5rem;
}